.file-path {
  -fx-pref-width: 400px;
}

.button {
  -fx-text-fill: white;
  -fx-font-family: "Arial Narrow";
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#61a2b1, #2A5058);
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
  -fx-pref-width: 90px;
}

.button:hover {
  -fx-background-color: linear-gradient(derive(#61a2b1, 40%), derive(#2A5058, 20%));
}