.root {
  -fx-background-image: url("background.jpg");
}

#action-target {
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

#action-target.ready {
  -fx-fill: GREEN;
}

#action-target.work-in-progress {
  -fx-fill: GOLD;
}

#max-files-label {
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}
